/* Backgrounds */

.jumbotron {
    background-image: url("https://i.ytimg.com/vi/XBPjVzSoepo/maxresdefault.jpg");
    background-size: cover;
     opacity: 0.95;
}
#response-container {
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* media queries */
@media only screen and (min-width : 768px) {
    #country-data-overview {
        border-right: 1px solid rgba(0,0,0,.1);
    }
}
